section#part-1
{
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: #0d8774;
    background: rgb(13,135,116);
    background: linear-gradient(180deg, rgba(13,135,116,1) 25%, rgba(10,154,182,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}
section#part-1 div.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    width: calc(100vw - 200px);
    padding: 0 100px;
}

section#part-1 img#people {
    height: 25vw;
    z-index: 100;
}

section#part-1 img#portfolio {
    height: 27.5vw;
    z-index: 100;
}

section#part-1 img.cloud {
    position: absolute;
    height: 10vh;
    top: 30vh;
    left: 0;
    opacity: 0;
    animation: cloud 20s infinite ease-in-out;
}

section#part-1 img#cloud2 {
    animation: cloud 20s infinite ease-in-out 5s;
    top: 45vh;
}

section#part-1 img#cloud3 {
    animation: cloud 20s infinite ease-in-out 10s;
    top: 40vh;
}

section#part-1 img#cloud4 {
    animation: cloud 20s infinite ease-in-out 15s;
    top: 35vh;
}

@keyframes cloud {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: .8;
    }
    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

section#part-1 div.portfolio {
    position: relative;
}

section#part-1 div.portfolio a {
    position: absolute;
    top: 23%;
    right: 7%;
    padding: 10px 20px;
    border: 2px solid #F8AC41;
    border-radius: 5px;
    color: #F8AC41;
    text-transform: uppercase;
    text-decoration: none !important;
    font-size: .8rem;
    transition: .3s all;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section#part-1 div.portfolio a:hover {
    border-radius: 10px;
    transform: scale(1.1);
}

section  div.title {
    position: absolute;
    top: 60vh;
    left: calc(25vw + 100px);
}

section  div.title h1 {
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffff;
    font-size: 2rem;
}

section  div.title span {
    color: #F8AC41;
    font-size: 3rem;
}

@media (max-width: 1400px) {
    section#part-1 img#portfolio {
        height: 30vw;
    }
    section  div.title h1 {
        font-size: 1.6rem;
    }
    section  div.title span {
        font-size: 2.4rem;
    }
}


@media (max-width: 1200px) {
    section  div.title h1 {
        font-size: 2.2rem;
    }
    section  div.title span {
        font-size: 3rem;
    }
    section#part-1
    {
        padding-top: 150px;
        min-height: calc(100vh - 150px);
        height: auto;
        background-color: #0d8774;
        background: rgb(13,135,116);
        background: linear-gradient(180deg, rgba(13,135,116,1) 75%, rgba(10,154,182,1) 100%);
    }
    section#part-1 div.flex
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
        width: calc(100vw - 200px);
    }
    section#part-1 img#people {
        height: 40vw;
        z-index: 100;
    }
    section#part-1 div.portfolio {
        align-self: flex-end;
    }
    section#part-1 img#portfolio {
        width: 65vw;
        height: auto;
    }
    section  div.title {
        position: absolute;
        top: 40vh;
        left: calc(40vw + 100px);
    }
}

@media (max-width: 1000px) {
    section  div.title h1 {
        font-size: 1.6rem;
    }
    section  div.title span {
        font-size: 2.4rem;
    }
    section  div.title {
        top: 30vh;
    }
}

@media (max-width: 767px) {
    section#part-1
    {
        width: 100vw;
        padding: 0 0;
        align-items: center;
        min-height: 100vh !important;
        height: 100vh !important;
        position: relative;
        justify-content: center;
        overflow-y: hidden;
    }
    section#part-1 div.portfolio {
        align-self: center;
        order: 3;
        margin-top: 50px;
        z-index: 1000;
    }
    section#part-1 img#portfolio {
        display: none;
    }
    section#part-1 img#people {
        height: 75vw;
        order: 1;
    }
    section div.title {
        position: relative;
        order: 2;
        top: auto;
        left: auto;
    }
    section#part-1 div.portfolio a {
        position: relative;
        top: auto;
        left: auto;
    }
    section#part-1 img.cloud {
        top: 20vh;
    }
    section#part-1 img#cloud2 {
        top: 35vh;
    }
    section#part-1 img#cloud3 {
        top: 30vh;
    }
    section#part-1 img#cloud4 {
        top: 25vh;
    }
}

/* ------------------ */
/*                    */
/*       PART 2       */
/*                    */
/* ------------------ */

section#part-2
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#part-2 img#haut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    animation: translate-bottom-show 1s ease-out;
    z-index: 100;
}

section#part-2 img#cloudsep {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    opacity: .8;
    animation: translate-bottom-8 1s ease-out;
    z-index: 100;
}

section#part-2 img#ds-txt {
    width: 50vw;
    animation: translate-bottom 1s ease-out;
}

@media (min-width: 992px) {
    section#part-2 img#ds-txt {
        width: 35vw;
        animation: translate-bottom 1s ease-out;
    }
}

@media (min-width: 1200px) {
    section#part-2 img#ds-txt {
        width: 25vw;
        animation: translate-bottom 1s ease-out;
    }
}

/* ------------------ */
/*                    */
/*       PART 3       */
/*                    */
/* ------------------ */

section#part-3
{
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/home/part-3/background.png');
    background-position: center center;
    background-size: cover;
}

section#part-3 div.ctn
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 80vh;
    width: calc(100vw - 200px);
    padding: 2vw 100px;
    position: relative;
}

section#part-3 div.ctn img
{
    height: 50vh;
}

@media (max-width: 1300px) {section#part-3 div.ctn img{height: 40vh;}}
@media (max-width: 1200px) {section#part-3 div.ctn img{height: 30vh;}}
@media (max-width: 787px) {
    section#part-3 div.ctn
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        height: 80vh;
        width: calc(100vw - 50px);
        padding: 2vw 25px;
        position: relative;
    }
    section#part-3 div.ctn img#p3ca{
        width: 100%;
        height: auto !important;
    }
    section#part-3 div.ctn div.p3ca-ctn
    {
        width: 100%;
        height: auto !important;
    }
    section#part-3 div.ctn img#p3pe{
        display: none;
    }
}

section#part-3 div.ctn img#p3pe{
    animation: translate-left 1s;
}
section#part-3 div.ctn div.p3ca-ctn{
    animation: translate-right 1s;
}

section#part-3 img#p3snow
{
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(60%);
    z-index: 101;
}
@media (max-width: 908px) {section#part-3 div.ctn img#p3snow{transform: translateY(55%)}}
@media (max-width: 470px) {section#part-3 div.ctn img#p3snow{transform: translateY(50%)}}

body {
    background-color: #0d8774 !important;
}

section#part-3 div.ctn div.p3ca-ctn {
    position: relative;
}

section#part-3 div.ctn div.p3ca-ctn p {
    width: 50%;
    height: 55%;
    top: 20%;
    left: 25%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 1.2rem;
}

@media (max-width: 1300px) {section#part-3 div.ctn img{height: 40vh;}section#part-3 div.ctn div.p3ca-ctn p {font-size: 1rem;}}
@media (max-width: 1200px) {section#part-3 div.ctn img{height: 30vh;}section#part-3 div.ctn div.p3ca-ctn p {font-size: .8rem;}}
@media (max-width: 787px) {
    section#part-3 div.ctn
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        height: 80vh;
        width: calc(100vw - 50px);
        padding: 2vw 25px;
        position: relative;
    }
    section#part-3 div.ctn img#p3ca{
        width: 100%;
        height: auto !important;
    }
    section#part-3 div.ctn div.p3ca-ctn
    {
        width: 100%;
        height: auto !important;
    }
    section#part-3 div.ctn img#p3pe{
        display: none;
    }
    section#part-3 div.ctn div.p3ca-ctn p {font-size: 1.2rem;}
}
@media (max-width: 600px) {section#part-3 div.ctn div.p3ca-ctn p {font-size: 1rem;}}
@media (max-width: 500px) {section#part-3 div.ctn div.p3ca-ctn p {font-size: .8rem;}}
@media (max-width: 400px) {section#part-3 div.ctn div.p3ca-ctn p {font-size: .7rem;}}

section#part-4
{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
}

section#part-4 div.title-ctn {
    z-index: 100;
    height: 50vh;
    width: 100vw;
    background: rgb(23,7,51);
    background: linear-gradient(180deg, rgba(23,7,51,1) 50%, rgba(50,7,40,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

section#part-4 div.title-ctn h3 {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    white-space: pre-line;
    text-align: center;
    animation: translate-bottom 1s;
}


section#part-4 div.title-ctn h3 span {
    color: #F8AC41;
    font-size: 3rem;
}

section#part-4 div.partner-ctn {
    z-index: 100;
    height: 50vh;
    width: 100vw;
    background: rgba(50,7,40,1);
}

section#part-4 div.partner-ctn img#cave {
    position: absolute;
    width: 100vw;
    bottom: -20vw;
    left: 0;
}

section#part-4 div.partner-ctn div.carousel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 25vh;
    margin-top: 25vh;
    position: relative;
    padding: 0 100px;
    overflow-x: hidden;
}
@media (max-width: 1200px) {
    section#part-4 div.partner-ctn img#cave {
        position: absolute;
        width: auto;
        height: 75vh;
        bottom: -20vw;
        left: 0;
    }
    section#part-4 div.partner-ctn {
        overflow-x: hidden;
    }
    section#part-4 div.partner-ctn div.carousel {
        margin-top: 15vh;
    }
}
@media (max-width: 908px) {
    section#part-4 div.partner-ctn img#cave {
        position: absolute;
        width: auto;
        height: 75vh;
        bottom: -40vw;
        left: 0;
        z-index: 100;
    }
    section#part-4 div.partner-ctn div.carousel {
        margin-top: 25vh;
        z-index: 1000;
    }
}
@media (max-width: 767px) {
    section#part-4 div.partner-ctn div.carousel {
        margin-top: 15vh;
    }
}
section#part-4 div.partner-ctn div.carousel div.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
section#part-4 div.partner-ctn div.carousel div.box {
    margin-right: 50px;
}
section#part-4 div.partner-ctn div.carousel div.box img {
    height: 70%;
}
section#part-4 div.partner-ctn div.carousel div.box p {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
}
section#part-4 div.partner-ctn div.carousel div.box p span {
    color: #F8AC41;
    font-weight: bold;
    font-size: 1rem;
}

section#part-5
{
    position: relative;
    height: 75vh;
    width: 100vw;
    background-color: #0C0007;
}

section#part-5 img
{
    height: 200px;
    animation: translate-left 1s;
}

section#part-5 div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    width: calc(100vw - 200px);
    padding: 20% 100px;
}
@media (max-width: 908px) {
    section#part-5
    {
        height: 100vh;
    }
    section#part-5 div.content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 45% 100px;
    }
}

section#part-5 div.content div.rounds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section#part-5 div.content div.rounds .progress {
    position: absolute;
    height: 160px;
    width: 160px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -80px;
}
section#part-5 div.content div.round{
    position: relative;
}

section#part-5 div.content div.round div.txt{
    position: absolute;
    top: 50%;
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
    text-align: center;
}

section#part-5 div.content div.round div.txt p {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    font-weight: bold;
    margin: 0;
}
section#part-5 div.content div.round div.txt span {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: bold;
}

section#part-5 div.content div.rounds .circle {
  transform: rotate(-90deg);
	margin-top: -40px;
}
section#part-5 div.content div.rounds .circle-back {
	fill: none;
	stroke: #361014;
	stroke-width:10px;
}
section#part-5 div.content div.rounds .circle-prog {
	fill: none;
	stroke-width: 10px;
	stroke-dasharray: 0 999;
	stroke-dashoffset: 0px;
   transition: stroke-dasharray 0.7s linear 0s;
}

section#part-6
{
    position: relative;
    height: auto;
    width: 100vw;
}

section#part-6 img#cavelava
{
    width: 100vw;
}

section#part-6 img#cristal
{
    left: 0;
    bottom: 0;
    position: absolute;
    transform: translateY(65%);
    width: 100vw;
}
