/* @font-face {
 font-family: "Bahnschrift";
 src: url("../fonts/BAHNSCHRIFT.TTF") format('truetype');
} */

:root
{
  /* font-family: "Bahnschrift" !important; */
}

body
{
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
select:focus,
select:active,
select:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

a:hover, a:active, a:visited {
    text-decoration: none !important;
    color: initial;
}

.hide {display: none !important;}
