section#part-1
{
    position: relative;
    height: 80vh;
    width: 100vw;
    background-color: #0F0A2B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 1400px) {section#part-1 {height: 70vh;}}
@media (max-width: 1200px) {section#part-1 {height: 60vh;}}
@media (max-width: 991px) {section#part-1 {height: 50vh;}}
@media (max-width: 767px) {section#part-1 {height: 40vh;}}

section#part-1 img#background
{
    position: absolute;
    top: 150px;
    width: 100vw;
    height: auto;
    z-index: 100;
}

section#part-1 div.flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: calc(100vw - 200px);
    padding: 0 100px;
    padding-top: 150px;
    z-index: 101;
}

@media (max-width: 1200px) {
    section#part-1 div.flex
    {
        height: 100%;
        width: calc(100vw - 200px);
    }
}

@media (max-width: 767px) {
    section#part-1 div.flex
    {
        margin-top: 25px;
        width: calc(100vw - 100px);
        padding: 0 50px;
    }
}
section#part-1 div.flex img#logo-m
{
    display: none;
}

@media (max-width: 991px) {
    section#part-1 div.flex img#logo-m
    {
        display: block;
        height: 75px;
        align-self: center;
    }
    section#part-1 div.flex {
        padding-top: 0;
    }
}

section#part-1 div.flex h2 {
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffff;
    font-size: 2rem;
    text-align: center;
}

section#part-1 div.flex h2 span {
    color: #F8AC41;
    font-size: 3rem;
}

@media (max-width: 1400px) {
    section#part-1 div.flex h2 {font-size: 1.6rem;}
    section#part-1 div.flex h2 span {font-size: 2.4rem;}
}
@media (max-width: 991px) {
    section#part-1 div.flex h2 {font-size: 1rem;}
    section#part-1 div.flex h2 span {font-size: 1.6rem;}
}
@media (max-width: 991px) {
    section#part-1 div.flex h2 {font-size: .8rem;}
    section#part-1 div.flex h2 span {font-size: 1rem;}
}

section#part-1 div.flex div.choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

section#part-1 div.flex div.choose button {
    border: none;
    background: none;
    margin: 0 25px;
    cursor: pointer;
    transition: .3s all;
}
section#part-1 div.flex div.choose button:hover {transform: scale(1.1);}
section#part-1 div.flex div.choose button:active {transform: scale(.9);}
section#part-1 div.flex div.choose button img {height: 200px;}
@media (max-width: 1200px) {section#part-1 div.flex div.choose button img {height: 150px;}}
@media (max-width: 991px) {section#part-1 div.flex div.choose button img {height: 100px;}}
@media (max-width: 991px) {section#part-1 div.flex div.choose button {padding: 0 10px;}}

section#part-2
{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background-color: #434F66;
    background: #434F66;
    background: linear-gradient(180deg, #434F66 25%, #191B3E 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}

section#part-2 div.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100vw - 200px);
    padding: 0 100px;
    padding-top: 150px;
    z-index: 101;
    padding-top: 40vh;
    position: relative;
}
@media (max-width: 1400px) {section#part-2 div.flex {padding-top: 20vh;}}
@media (max-width: 1200px) {section#part-2 div.flex {padding-top: 20vh;}}
@media (max-width: 767px) {section#part-2 div.flex {padding-top: 17vh;}}

@media (max-width: 1200px) {section#part-2 div.flex{width: calc(100vw - 200px);}}
@media (max-width: 991px) {
    section#part-2 div.flex
    {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    section#part-2 div.flex
    {
        width: calc(100vw - 100px);
    }
}

section#part-2 div.flex nav {
    width: calc(30vw - 100px);
}

section#part-2 div.flex nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

section#part-2 div.flex nav h3 {
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffff;
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

section#part-2 div.flex nav button {
    white-space: pre-line;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #818895;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    border: none;
    background: none;
    border-radius: 10px;
    padding: 10px 15px;
    transition: .3s all;
    cursor: pointer;
}
section#part-2 div.flex nav button:hover {background-color: #191B3E;}

section#part-2 div.flex div.box-images {
    width: calc(70vw - 200px);
}

@media (max-width:991px) {
    section#part-2 div.flex nav {
        width: 100%;
    }
    section#part-2 div.flex nav div {
        margin-bottom: 25px;
    }
    section#part-2 div.flex div.box-images {
        width: calc(100% - 50px);
    }
    section#part-2 div.flex nav div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section#part-2 div.flex nav div button {
        margin: 0 10px;
    }
}

section#part-2 div.box {
    background-color: #171138;
    border-radius: 15px;
    padding: 20px 25px;
}
