header {
    position: fixed;
    width: 100vw;
    height: 150px;
    background-color: #0d8774;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

header.blue {
    background-color: #0f0a2b;
}
header.brown {
    background-color: #220500;
}

header nav {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

@media (max-width: 1200px) {
    header nav {
        width: 80%;
    }
}
@media (max-width: 991px) {
    header nav.web {
        display: none;
    }
    header .web {
        display: none !important;
    }
}
@media (min-width: 991px) {
    header .mobile {
        display: none;
    }
}

header nav a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff !important;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    letter-spacing: 2px;
    padding: 25px 35px;
    border-radius: 10px;
    transition: 0.3s all;
}

header nav a:hover {
    background-color: #0e7c6b;
}

header.blue nav a:hover {
    background-color: #17103d;
}
header.brown nav a:hover {
    background-color: #33120c;
}

header nav a.logo {
    padding: 0;
}

header nav a.logo img {
    height: 150px;
}

header.hide-header {
    transform: translateY(-100%);
}

header.scroll-header {
    height: 75px;
}
header.scroll-header nav a.logo img {
    height: 75px;
}

@media (max-width: 991px) {
    header {
        height: 100px;
        background: none;
        bottom: 25px;
    }
    header img.logo {
        height: 100%;
    }
    header img.burger {
        width: 35px;
    }
    header button {
        /* border: 2px solid #ffff; */
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #0d8774;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    header.blue button {
        background-color: #0f0a2b;
    }
    header.blue {
        background: none;
    }
    header.brown button {
        background-color: #220500;
    }
    header.brown {
        background: none;
    }
}

nav.mobile {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #0d8774;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.3s all;
}
nav.blue {
    background-color: #0f0a2b;
}
nav.brown {
    background-color: #220500;
}

nav.show-mobile {
    transform: translateY(0);
}

nav.mobile a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff !important;
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    letter-spacing: 2px;
    padding: 25px 35px;
    border-radius: 10px;
    transition: 0.3s all;
}

nav.mobile a:hover {
    background-color: #0e7c6b;
}
nav.blue a:hover {
    background-color: #17103d;
}
nav.brown a:hover {
    background-color: #33120c;
}

nav.mobile a.logo {
    padding: 0;
}

nav.mobile a.logo img {
    height: 150px;
}

nav.mobile button {
    border: none;
    background-color: #0e7c6b;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}
nav.blue button {
    background-color: #17103d;
}
nav.brown button {
    background-color: #220500;
}

nav.mobile img.close {
    width: 35px;
}

a#lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1100;
}

a#lang img {
    height: 25px;
    border-radius: 5px;
    /* border: 2px solid #f8ac41; */
}
a#lang span {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    margin-top: 5px;
}

@media (min-width: 992px) {
    a#lang {
        position: absolute;
        right: 50px;
    }
}

a#lang.blue {
    background-color: #140e34;
}

a#lang.brown {
    background-color: #33120c;
}
